
h1 {
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  padding-bottom: 15px;
}


}
h5 {
  font-weight: bold;
}

p {
  padding: -20px;
}

nav {
  align-items: left;
}

.content {
  padding: 100px;
  margin-left: 50px;
  width: 750px;
}
